@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

body {
    background-color: antiquewhite;
    font-size: large;
    overflow-y: hidden;
    font-family: 'Inconsolata', monospace;
}

* {
    margin: 0;
    padding: 0;
}
.superior{
    display: flex;
    flex-direction: column;
    
}

/* nav bar */
nav ul {
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    align-items: center;
    list-style: none;
    height: 60px;
    color: white;
    background-color: black;
    font-size: larger;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 2.5rem;
}

.brand img {
    width: 1.875rem;
}

nav ul li span {
    margin-left: 0.3125rem;
}

nav ul li {
    margin: 0 0.625rem;
}

.container {
   
    background-color: black;
    color: white;
    display: flex;
    width: 80vw;
    height: auto;
    margin:auto auto;
    position: fixed;
    top: 40px;
    border-radius: 0.9375rem;
    padding: 1.25rem;
    background-image: url('../images/bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow-y: scroll;
}
@media (max-width: 768px) {
    .container {
        width: 90vw;
        height: 60vh;
        margin-top: 3.75rem;
        padding: 1rem;
    }
}
.container ::-webkit-scrollbar{
    width: 0;
}
.songList h1{
    text-align: center;
}

.songItem {
    height: 5vh;
    display: flex;
    background-color: white;
    color: black;
    border-radius: 2.5rem;
    margin-bottom: 0.625rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;
}

.songItem img {
    width: 1.75rem;
    margin: 0 1.4375rem;
    border-radius: 2.125rem;
}

.timestamp {
    display: flex;
    justify-content: space-between;
    margin: 0 1.4375rem;
}

.songName {
    font-size: 80%;
    display: inline-block;
    width: 70%;;
    display: block;
    text-align: left;
   
}

.icons {
    margin-top: 0.875rem;
}

.timestamp i {
    cursor: pointer;
}

.songItemContainer {
    margin-top: 2.125rem;
    padding-bottom: 1.5rem;
}

.bottom {
    position: fixed;
    height: 16vh;
    background-color: black;
    bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border-top: 0.5rem solid antiquewhite;
}

#myProgressBar {
    width: 100%;
    margin-top: 1.25rem;
    cursor: pointer;
}

.icons {
    color: white;
    margin-top: 0.875rem;
    padding-bottom: 0.625rem;
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    top: 1.5625rem;
    color: white;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#masterSongName {
    font-size: 60%;
}